<div class="card">
    <div class="flex flex-wrap md:justify-content-between justify-content-center card-container">
        <div class="surface-500 text-white font-bold flex align-items-center" style="min-width: 100%; min-height: 100px;">
            <img class="w-1 justify-content-left" src="../../../assets/img/logo.jpg" id="logo" />
            
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search">         
            </span>

        </div>
    </div>
</div>

